{{> header}}
<h1>CREDITS page</h1>

<div class="container">
    <div class="row m-3 p-6">
        <div class="col-md-6 text-center">
            <h5>The Movie Database</h5>
            <p>is responsible for most of the data and images retrieved for streamNow.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/the-movie-db-short.svg" class="img-fluid" alt="the-movie-db-short">
        </div>
    </div>
    <div class="row m-3 p-3">
        <div class="col-md-6 text-center">
            <img src="/images/just-watch.png" class="img-fluid" alt="just-watch">
        </div>
        <div class="col-md-6 text-center">
            <h5>JustWatch</h5>
            <p>provides the data for watch providers for any movie/tv-show.</p>
        </div>
    </div>
    <div class="row m-3 p-3 text-center justify-content-md-center">
        <div>
            <h5>streamNow</h5>
            <p>All credit for the name of this <a href="/">website</a> goes to my wife, Celeste Hallisey.</p>
        </div>
    </div>
</div>
