body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #DAF7A6;
}

.carousel-inner img {
    margin: auto;
  }

.carousel {
    max-width: 400px;
    max-height: auto;
    margin: 0 auto;
}

.img-just-watch {
    max-width: 400px;
    max-height: 200px;
}

#bootstrap-overrides .carousel-height{
    max-height: 50%;
}

#carousel-link>a{
    text-decoration: none;
    text-decoration-color: white;
}

#bootstrap-overrides #search-container {
    min-height: 0px;
    max-height: 700px;
}
ul {
    list-style: none;
}

ul li {
    list-style: none;
}

#bootstrap-overrides .img-sizer{
    max-height: auto;
    max-width: 185px;
}

#bootstrap-overrides .carousel-indicators-user {
    position: absolute;
    right: 0;
    bottom: -30%;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

#bootstrap-overrides .form-size {
    height: auto;
    width: 50%;
}

/* img {
    width: auto;
    height: 100%;

} */
.nav-color-not-bootstrap {
    background-color: #DAF7A6;
}

.text-border {
        color: white;
        font-size: 50px;
        text-shadow: -1px 1px 0 #000,
                      1px 1px 0 #000,
                     1px -1px 0 #000,
                    -1px -1px 0 #000;
        font-size: 1em;
}